<mat-card>
  <button mat-icon-button color="basic" [mat-dialog-close]="true">
    <mat-icon class="close">close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>Edit Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          type="text"
          name="Username"
          placeholder="Username"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          type="password"
          name="Password"
          placeholder="Password"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          type="email"
          placeholder="Email"
          name="Email"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="editUser()" color="primary">
      Save Details
    </button>
  </mat-card-actions>
</mat-card>
