app-user-favorites {
  display: flex;
  flex-direction: column;
}
.favorites-wrapper {
  h2 {
    text-align: center;
    padding-top: 60px;
    @media screen and (max-width: 500px) {
      padding-top: 20px;
    }
  }
}
.favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 30px;
  background-color: #8486a8;
  @media screen and (max-width: 500px) {
    padding: 0;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  background-color: #828299;
  max-width: 300px;
  width: 300px;
  .mat-icon-button {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  img {
    max-width: 250px;
  }
  .mat-card-header {
    text-align: center;
  }
  .mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
